.Content{
    display: flex;
    flex-direction: column;

}
.mainContent{
    min-height: 72.3vh;
    padding: 0 1rem;
    overflow: scroll;
}
.spinner{
    box-sizing: border-box;
    min-height: 73vh;
    padding-left: 48%;
    padding-top: 10rem;
    
}
