
.EnterBtn{
    cursor: pointer;
    font-size: .9rem;
    font-family: lalezar;
    padding: .3rem 2rem;
    border-radius: 20px;
    transform: translateY(0);
    transition: all 5ms ease-in-out;
    text-decoration: none;
    width: 8rem;
    text-align: center;
}
.EnterBtn:hover{
    transform: translateY(-1px);
}
.EnterBtn:disabled{
    background-color: #777a81;
    color: #fff;
}
.EnterBtnActive{
    background-color: #fff;
    color: #2f3640;
}
.EnterBtn:focus{
    outline-style: none;
}
.Active{
    background-color: #34363b;
    color: #fff;
    border: 2px solid #fff;
}
.Success{
    background-color: #fff;
    color: #2f3640;
    border: 2px solid #2f3640;
}
.ActiveLogin{
    background-color: #34363b;
    color: #fff;
    border: 2px solid #fff;
    margin-top: 2rem;
}
.SuccessLogin{
    background-color: #fff;
    color: #2f3640;
    border: 2px solid #2f3640;
    margin-top: 2rem;
}