.Content{

}
.rowInput{
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.dayStyle{
    grid-column: 1/3;
}
.calendar{
    grid-column: 3/5;
    position: relative;
}

.datePicker{
    position: absolute;
    top: 0;
    right: 0;
    padding: .3rem .5rem;
    border: 1.5px solid #000;
    border-radius: 15px;
   
}
.icon{
    position: absolute;
    top: .1rem;
    left: 2.5rem;
    
}
.propertyStyle{
    grid-column: 5/9;
    display: flex;
}
.inputStyle{
    width:10rem;
    border-radius: 7px;
    padding: 0 .5rem;
    font-family: lalezar;
    /* grid-column: 1/2; */
}
.iconBox{
    display: flex;
}
.ml5{
    margin-left: .5rem;
}
.pl10{
    padding-left: 1rem;
}
.pl5{
    padding-left: .5rem;
}
.green{
    color: green;
}
.red{
    color: red;
}
.grey{
    color: grey;
}
i{
    cursor: pointer;
}
.list{
    list-style: none;
}
.list{
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
}
.dropStyle{
    font-family: lalezar;
    border-radius: 15px;
    border: 1px solid #000;
    padding: .1rem 1rem;
    margin-left: .5rem;
}
.dropStyle:focus{
    outline: none;
}
