
.Content{
    padding: 0 .5rem;
    background-color: #2f3640;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    color: #dcdde1;
}
.logo{
    box-sizing: border-box;
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
}
.signInBtn{
    background-color: #34363b;
    color: #f5f6fa;
    cursor: pointer;
    font-size: .9rem;
    font-family: lalezar;
    padding: .3rem 2rem;
    border-radius: 20px;
    border: 2px solid #fff;
    transform: translateY(0);
    transition: all 3ms ease-in-out;
    text-decoration: none;
}
.signInBtn:hover{
    transform: translateY(-1px);
}
.signInBtnActive{
    background-color: #fff;
    color: #2f3640;
}
.signInBtn:focus{
    outline-style: none;
}
.ml1{
    margin-left: 1rem;
}
.mr5{
    margin-right: .5rem;
}
.userPhoto{
    border-radius: 50px;
    border: 2px solid #fff;
    padding: .3rem;
}
.iconBox{
    display: flex;
}
.date{
    color: #fff;
    display: flex;
    align-items: center;
}
