
.Content{
    padding: 0 .5rem;
    background-color: #2f3640;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    color: #dcdde1;
    width: 100%;
}
.logo{
    box-sizing: border-box;
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
}
.signInBtn{
    background-color: #34363b;
    color: #f5f6fa;
    cursor: pointer;
    font-size: .9rem;
    font-family: lalezar;
    padding: .3rem 2rem;
    border-radius: 20px;
    border: 2px solid #fff;
    transform: translateY(0);
    transition: all 3ms ease-in-out;
    text-decoration: none;
}
.signInBtn:hover{
    transform: translateY(-1px);
}
.signInBtnActive{
    background-color: #fff;
    color: #2f3640;
}
.signInBtn:focus{
    outline-style: none;
}
.ml1{
    margin-left: 1rem;
}
.mr5{
    margin-right: .5rem;
}
.userPhoto{
    border-radius: 50px;
    border: 2px solid #fff;
    padding: .3rem;
}
.iconBox{
    display: flex;
}
.date{
    color: #fff;
    display: flex;
    align-items: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Content{
        height: 2rem;
        font-size: .6rem;
        max-width: 100%;
        
    }
    .iconBox{
        
        width: inherit;
        height: inherit;    
      }
      .logo{
          width: 2rem;
          height: 2rem;
      }
      .signInBtn{
          padding: 0 .8rem;
          font-size: .6rem;
      }
      .mr5{
          margin-right: 0;
      }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .formAndBtn{
        max-width: 80vw;    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .formAndBtn{
        max-width: 70vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .formAndBtn{
        max-width: 60vw;    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .formAndBtn{
        max-width: 45vw;
    }
}